body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
}


canvas#myChart, canvas#myChart2  {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}